.navbar-custom{
	text-transform: lowercase;
}

.introduction{
	position: absolute;
	width: 100%;
	height: 100%

}

.carousel-caption{
	letter-spacing: 5px;
	top: 50%;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: "Gill Sans Light", Sans-serif;
	vertical-align: center;
	transform: translateY(-25%);
}

.carousel-caption-heading{
	animation-delay: 0.4s;
}

.carousel-caption-text{
	animation-delay: 0.8s;
}
#carousel-background-1{
	width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
    background: transparent url("background1.jpg") no-repeat scroll center center / cover;
    height: 100%;
}

* {
	padding: 0px;
	margin: 0px;
}

.gold{
	color: #D1B885;
}